# Example environment variables for local development and Render
DJANGO_SECRET_KEY=django-insecure-eho5r_9+zt(vmj8iw-ea7+m$i@v8bsxse%vg4#dgn)(246s(jm')
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://user:password@host:5432/dbname
FILE_UPLOAD_TEMP_DIR=tmp_uploads
