# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/
/media/

# Data files
*.csv
*.xlsx
*.xls
*.pkl

# Editor
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Render
.render/

# Environment variables
.env
